
.about-hero{
    background-image: url('../images/about/bg-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 1000px;
}
.about-hero .m-botton84{
    margin-bottom: 84px;
}

.about-hero .about-value {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(5,9,23,.2);
    text-align: center;
    border-radius: 20px;
    padding: 40px 32px;
}
/* cold-email */
.empowering .text-48px{
    color: rgb(96, 97, 98) !important;
}
.empowering .text-48px span{
    color: #0f0f0f;
    font-weight: 600;
}
.about-hero .text-20px{
    color: #0f0f0f;
}
/* our-team */
.our-team{
    padding: 50px 0px;
}
.our-team .text-20px{
    max-width: 476px;
    margin-bottom: 50px;
}
.our-team h4.text-40px{
    font-weight: 600;
}
.our-team .timing{
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.our-team .position-title{
    color: #0f0f0f;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3;
}
.our-team .position-divider{
    position: relative;
    top: 15px;
    width: 20px;
    height: 2px;
    color: #0f0f0f;
    background-color: #0f0f0f;
}
.our-team .apply{
    background-color: #fff;
    border: 1px solid #1179fc;
    color: #1179fc;
}
.our-team .apply:hover{
   background-color: #1179fc;
   color: white;
}

@media only screen and (max-width: 992px) {
    /* .about-hero */
    .about-hero .text-72px{
        font-size: 54px;
    }
    .about-hero .m-botton84 {
        margin-bottom: 26px;
    }
    .about-hero .text-20px{
        font-size: 18px;
    }
    .about-hero .about-value h1 {
        font-size: 38px;
    }

}
@media only screen and (max-width: 768px) {
    /* .about-hero */
    .about-hero .text-72px{
        font-size: 44px;
    }
    .our-team .timing {
        flex-direction: column;
    }
}
@media only screen and (max-width: 576px) {
    /* .about-hero */
    .about-hero .text-72px{
        font-size: 36px;
    }
    .about-hero .text-20px{
        font-size: 17px;
    }
    /* .empowering */
    .empowering h1 {
        font-size: 35px;
    }
    /* our-team */
    .our-team .position-title {
        font-size: 20px;

    }
    .our-team .position-divider {
        top: 12px;
    }
}