.collapse-items .title{
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collapse-items .card{
    border: none;
    border-radius: 20px;
    margin-bottom: 40px;
}
.collapse-items .card .card-header{
  border-radius: 20px;
  border-bottom: none;
}
.collapse-items .click{
    color: rgba(15,15,15,.65);
    font-size: 40px;
    font-weight: 500;
}
.collapse-items .card-body{
    min-height: 400px;
}
.collapse-items .seperator {
    width: 100%;
    height: 1px;
    opacity: .25;
    background-image: radial-gradient(circle closest-corner,#050917,#050917 50%,#fff);
    margin-bottom: 40px;
}
.collapse-items .click span{
   color: #222;
}
.collapse-items .card-body p{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}
.collapse-items .click-img{
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #f6f8fb;
    border-radius: 50%;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
  
  .rotate-clockwise  {
    transition: transform 0.5s;
    transform: rotate(180deg); /* Rotate the image by 90 degrees (clockwise) */
  }
  .original-position {
    transition: transform 0.5s; /* Add a transition for smooth rotation */
  }
  .hovered{
    background-color: aquamarine;
  }