
.database {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    background-attachment: scroll;
    max-width: 100%;
    min-height: auto;
    padding-top: 50px;

}

.database .finder {
    background: transparent;

    color: #dc82fc;
    text-transform: uppercase;
    border: 1px solid #dd83fc;
    letter-spacing: 1.2px;
    border-radius: 20px;
    margin-bottom: 12px;
    font-size: 16px;
    padding: 6px 16px;
    font-weight: 600;
    line-height: 1.5;


}

.database .text-56px{
    margin-bottom: 26px;
}

.database .text-56px span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #1179fc, #dc82fc);
    -webkit-background-clip: text;
    background-clip: text;
}
.database .free{
    background: transparent;
    padding: 12px 22px;
    font-size: 18px;
    background-color: white;
    color: #1179fc;
    border: 1px solid white;

}
.database .free:hover{
    color: #fff;
    background-color: #dc82fc;
    border: 1px #dc82fc;
}
.database .leads{
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(255,255,255,.2);
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    position: relative;

}
.database .mb-140px{
    margin-bottom: 140px;
}
.database .text-40px{
    color: rgba(255,255,255,.65);
}
.database .client-section .see-more {
    background: transparent;
    border: 1px solid #1179fc;
    color: #1179fc;
}
.database .client-section .see-more:hover{
    background-color: #dc82fc ;
    border: 1px #dc82fc;
    color: #fff;
}
/* only-pay */
.only-pay .text-20px{
    max-width: 490px;
}
.only-pay .row{
    min-height: 510px;
    border-radius: 15px;
}
.only-pay .free{
    background-color: white;
    border: 1px solid white;
    color: #1179fc;
}
.only-pay .free:hover{
  color: white;
    background-color: #dc82fc;
    box-shadow: 0 0 80px rgba(139,190,255,.15)
}
/* click */
.click img{
   border-radius: 20px;
    box-shadow: 11px 11px 90px rgba(5,9,23,.1);
}
.click .text-48px ,
.filters .text-48px{
    color: rgba(15,15,15,.65);
    margin-bottom: 24px;
}
.click p.main-para,
.filters p.main-para{
    color: black !important;
}
/* leads-collapse */
.leads-collapse .card{
    border-radius: 20px;
}
.leads-collapse .plus{
    width: 60px;
    height: 60px;
    background-color: #f6f8fb;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
    display: flex;
}
.leads-collapse .plus:hover{
    background-color: rgba(17,121,252,.1);
}
.leads-collapse p.text-20px {
    display: none;
}
.move-plus{
    transition: transform 0.9s;
    transform: rotate(48deg);
  }
  .original-plus {
    transition: transform 0.5s;
  }
  /* prospects */
  .prospects{
    padding: 90px 0px;
  }
  /* faq */
  .faq .click {
    color: black;
    font-size: 28px;
    font-weight: 500;
  }
  .faq .card-body {
    min-height: 80px;
}
@media only screen and (max-width: 1200px) {
   

    
}
@media only screen and (max-width: 992px) {
    /* database */
    .database .mb-140px {
        margin-bottom: 25px;
    }
   
    .database .text-40px{
        color: rgba(15,15,15,.65);
    }
    .database .text-40px span{
        color: black !important;
    }
   

}
@media only screen and (max-width: 768px) {
    

}
@media only screen and (max-width: 576px) {
 
    /* faq */
    .faq .click{
        font-size: 20px;
    }
    .faq .card-body p{
        font-size: 18px;
    }

}