/* @font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter-Regular.ttf);
} */


@font-face {
    font-family: 'Geliat';
    src: url('../fonts/Geliat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geliat';
    src: url('../fonts/Geliat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geliat';
    src: url('../fonts/Geliat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geliat';
    src: url('../fonts/Geliat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


html{
    scroll-behavior:smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #000;
    background-color: #f7f8fb;
    font-family: Geliat,Arial,sans-serif;
    font-size: 16px;
    line-height: 120%;
}

section{
    padding: 20px 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
a:hover{
    text-decoration: none;
}

.form-control {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(8, 14, 20, 0.1);
    border-radius: 5px;
    height: 45px;
    color: #000;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #0D328D;
}

img {
    max-width: 100%;
}

.btn {
    padding: 8px 20px;
    border-radius: 5px;
    min-width: 160px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 40px;
    transition: all .2s;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}
.m-w-220{
    min-width: 220px;
    padding: 13px;
}

.btn-primary {
    box-shadow: 0 1px 80px rgba(17,121,252,.05);
    color: white;
    background-color: #1179fc;
    border: 1px solid #1179fc;
}
.btn-transparent{
    background-color: transparent;
    color: #1179fc;
}
.btn-trans{
    
    border: 0px;
    background: transparent;
}
.btn-primary:hover{
    background: #0f0f0f;
}
.btn-light {
    background: #FFFFFF;
    box-shadow: 3px 4px 4px 4px rgba(73, 73, 73, 0.25);
    color: #000;
}

.btn-light:hover {
    background: #0D328D;
    border: 1px solid #fff;
    color: #fff;
}

.text-primary {
    color: #0D328D !important;
}
.text-danger{
    color: rgba(15,15,15,.65);
}

.main-heading {
    color: #0f0f0f;
    letter-spacing: -1.5px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Geliat,Arial,sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.14;
}
.mini-heading{
    color: #050917;
    margin-bottom: 12px;
    font-weight: 600;
    line-height: 1.1;
    font-size: 28px;
}
.btn-dark:hover{
    background-color: #1179fc !important;
    color: white !important;
}

.blue-gradient{
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#1179fc,#dc82fc);
    -webkit-background-clip: text;
    background-clip: text;
    padding-right: 10px;
}
.main-para {
    font-size: 18px;
    font-weight: lighter;
    color: rgba(37, 43, 59, 0.475);
    color: #2B81EE;
    margin-bottom: 30px;
    line-height: 1.4em;
}
.mega-para{
    color: rgba(15,15,15,.75);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 38px;
}

.white-card{
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 40px;
}
.bg-black{
    background-color: #000000;
}

.fa-check{
    background: rgba(0, 128, 0, 0.626);
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin-right: 7px;
}
.person-image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 16px;
}
/* header  */
header .navbar-brand img{
    max-width: 150px;
}

header .navbar-dark .navbar-nav .nav-link,
header .navbar-dark .navbar-nav .nav-link:focus
{
    color: #fff;
    line-height: 1.5;
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 16px;
    margin: 10px 15px;
}


header .navbar-dark .navbar-nav .nav-link:hover {
    color: #dc82fc
}


/* hero-section  */
.hero-section{
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-section .major-heading{
    font-size: 100px;
}


.testimonial-section-wrapper {
    z-index: 99;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    overflow: visible
}

.testimonial-section-sub-wrapper {
    z-index: 999;
    width: 100%;
    max-width: 1440px;
    flex-direction: column;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 0%;
    display: flex;
    position: relative;
    overflow: visible
}

.testimonial-slider {
    width: 81%;
    height: auto;
    max-width: 1100px;
    background-color: transparent;
    margin-bottom: 80px
}

.testimonial-slide-wrapper {
    width: 100%;
    max-width: 1100px;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 40px
}

.left-arrow {
    width: 52px;
    height: 52px;
    border: 1px solid #1179fc;
    border-radius: 50%;
    display: none;
    top: auto;
    bottom: -45px;
    left: auto;
    right: 97px
}

.right-arrow {
    width: 52px;
    height: 52px;
    border: 1px solid #1179fc;
    border-radius: 50%;
    display: none;
    top: auto;
    bottom: -45px;
    left: auto;
    right: 30px
}

.testimonial-slide {
    width: 100%;
    height: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: flex-start;
    align-items: stretch;
    padding: 30px;
    display: flex
}

.testimonial-image {
    width: 38%;
    height: 100%;
    max-width: 400px;
    min-height: 400px;
    background-position: -20px 0;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    position: relative
}

.testimonial-text{
    color: rgba(15,15,15,.65);
    font-weight: 400;
    line-height: 1.5;
}
.testimonial-text-black{
    color: #050917;
    font-weight: 500;
}
.testimonial-content {
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    display: flex;
    position: relative
}
.person-name{
    color: rgba(15,15,15,.75);
}
.comma-icon {
    width: 56px;
    height: 56px;
    margin-bottom: 24px
}

.home-testimonial-slider-tex-black {
    color: #050917;
    font-weight: 500
}

.testimonial-person-details {
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 56px;
    display: flex
}

/* collaspse section  */
.collapse-items .title{
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collapse-items .card{
    border: none;
    border-radius: 20px;
    margin-bottom: 40px;
}
.collapse-items .card .card-header{
  border-radius: 20px;
  border-bottom: none;
}
.collapse-items .click{
    color: rgba(15,15,15,.65);
    font-size: 35px;
    font-weight: 600;
}
.collapse-items .card-body{
    min-height: 400px;
}
.collapse-items .seperator {
    width: 100%;
    height: 1px;
    opacity: .25;
    background-image: radial-gradient(circle closest-corner,#050917,#050917 50%,#fff);
    margin-bottom: 40px;
}
.collapse-items .click span{
   color: #222;
}
.collapse-items .card-body p{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}
.collapse-items .click-img{
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #f6f8fb;
    border-radius: 50%;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
  
  .rotate-clockwise  {
    transition: transform 0.5s;
    transform: rotate(180deg); /* Rotate the image by 90 degrees (clockwise) */
  }
  .original-position {
    transition: transform 0.5s; /* Add a transition for smooth rotation */
  }
  .hovered{
    background-color: aquamarine;
  }
/* gradient-bg  */
.respond-section{
    color: white;
    text-align: center;
}
.respond-section .main-heading{
    margin-top: 100px;
}
.respond-section .row{
    min-height: 450px;
     border-radius: 20px; 
     background-size: cover;
    overflow: hidden;
}
.respond-section .preview-img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 20px;
}
.client-section .white-card{
    padding: 30px;
}
.client-section .person-info p{
    color: rgba(15,15,15,.6);
    letter-spacing: 0;
    text-transform: none;
    align-self: flex-start;
    margin-bottom: 0px;
}
.client-section .person-info h5{
   font-size: 17px;
}

/* footer*/
footer{
    background-size: cover; background-repeat: no-repeat;
}
footer .footer-links {
    padding: 7px 0px;
}
footer .navbar-brand img{
    max-width: 250px;
}
footer .footer-links a{
    opacity: .75;
    color: #fff;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
}
/* Media Query */

@media only screen and (min-width: 1200px) {
    .container{
    max-width: 1440px;
    padding-left: 5%;
    padding-right: 5%;
}
    .main-heading.hero-heading{
        font-size: 56px;
    }
}
@media only screen and (max-width: 1200px) {
    .main-heading {
        font-size: 48px;
    }
    .main-para {
        font-size: 17px;
    }

    /* .hero-section */
    .hero-section .major-heading  {
        font-size: 85px;
    }
}
@media only screen and (max-width: 992px) {
    .main-para {
        font-size: 17px;
    }
     /* .hero-section */
     .hero-section .major-heading  {
        font-size: 70px;
    }
      /* .collapse-items */
      .collapse-items .click{
        font-size: 27px;
    }
      .collapse-items .card-body p{
        font-size: 20px;
    }
    .mega-para{
        font-size: 18px;
        margin-bottom: 32px;
    }

}
@media only screen and (max-width: 768px) {
    .main-heading {
        font-size: 42px;
    }
    .main-para {
        font-size: 16px;
    }
     /* .hero-section */
     .hero-section .major-heading  {
        font-size: 60px;
    }
    /* .collapse-items */
    .collapse-items .click{
        font-size: 24px;
    }
      .collapse-items .card-body p{
        font-size: 18px;
    }
    .mega-para{
        margin-bottom: 16px;
        font-size: 14px;
    }
    header .navbar-dark .navbar-nav .nav-item{
        text-align: center;
    }
    header .navbar-dark .navbar-nav .nav-link,
    header .navbar-dark .navbar-nav .nav-link:focus
    {
        margin: 0px 15px; 
    }

}
@media only screen and (max-width: 576px) {
    .white-card{
        margin: 10px;
        padding: 40px;
    }
    .main-heading {
        font-size: 36px;
    }
     /* .hero-section */
     .hero-section .major-heading  {
        font-size: 45px;
    }
       /* .collapse-items */
       .collapse-items .click{
        font-size: 20px;
    }
      .collapse-items .card-body p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 375px) {
    p{
        font-size: 14px;
    }
    
    .white-card{
        margin: 10px;
        padding: 20px;
    }
    .m-w-220{
        min-width: auto;
    }
    .main-heading {
        font-size: 30px;
    }
    .main-para{
        font-size: 15px;
    }
    .btn{
        font-size: 16px;
    }
     /* .hero-section */
     .hero-section .major-heading  {
        font-size: 35px;
    }
    
}

